{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "extends": [
    "@nuxtjs"
  ],
  "rules": {
    "quotes": [
      0,
      "double"
    ],
    "indent": [
      0,
      4
    ],
    "vue/html-indent": [
      0,
      4
    ],
    "no-console": "off",
    "semi": [
      "error",
      "never"
    ],
    "vue/html-closing-bracket-newline": [
      "error",
      {
        "singleline": "never",
        "multiline": "never"
      }
    ],
    "vue/html-closing-bracket-spacing": ["error", {
      "startTag": "never",
      "endTag": "never",
      "selfClosingTag": "never"
    }]
  }
}